#auth {
  display: flex;
  align-items: stretch;
  height: 97vh;
  margin: 0;
  padding: 0;
  
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;  
  }

  aside {
    max-height: 900px;
    max-width: 900px;
    flex: 5;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
  }


  
  main {
    flex: 5;
  
    padding: 0 32px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
