#auth {
  display: flex;
  align-items: stretch;
  height: 100vh;
  margin: 0;
  padding: 0;
  

  aside {
    background-image: url(../assets/login-page/Ilustration.svg);
    background-size: 650px 700px ;
    
    flex: 9;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
  }


  
  main {
    flex: 5;
  
    padding: 0 32px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
